*,
html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(coklatwall.jpg);
  background-position: center;
  background-size: cover;
}



h1 {
  color: rgb(253, 247, 247);
}


@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25px);
  }
  50% {
    transform: translateX(50px);
  }
  75% {
    transform: translateX(-50px);
  }
}

#Fotoataskopi {
  width: 100%;
  margin-top: -36px;
}

.Judul{
  margin: 20px;
}

header {
  background-image: url(Bijikopihead.jpg);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width:  100%;
}

.BijiKopi {
  animation: shake 20s infinite alternate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fotoKOpi:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.Kopipengantar {
  margin: 30px;
}

.JenisKopi {
  margin: 50px;
}

.KopiMerapi {
  margin: 50px;
}

#KopiMerapi:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

#KopiMerapi1:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.Circa90Cafe {
  margin: 50px;
}

#Circa90Cafe:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

#Circa90Cafe1:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

#Circa90Cafe2:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

#Circa90Cafe3:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

#Circa90Cafe4:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

#Circa90Cafe5:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

#Fotobawahkopi {
  width: 100%;
  height: 290px;
}

.Bijikopibawah{
  margin-bottom: -100px;
}

.Bio{
  float: right;
  margin-right: 55px;
}

footer {
  background-image: url(putihwall.jpg);
  color: black;
  text-align: center;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}