body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(Foto/ppp.jpg);
  background-position: center;
  background-size: cover;
}

header {
    text-align: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 10px;
    color: #333;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile h2 {
    margin: 5px 0;
    color: #555;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #e3a6a6;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px; /* Menambahkan margin bawah */
    display: block; /* Agar tombol berada di tengah */
    margin: 0 auto; /* Agar tombol berada di tengah */
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
    background-color: #e3a6a6;
}

.options {
    display: none;
}

.options label {
    display: block;
    margin-bottom: 10px;
}

.options input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
}

.options select {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    display: block;
}

.message.show {
    display: block;
}

#refreshBtn {
    margin-bottom: 100px;
}

